src/test/resources/flows/aggregate_flow_store.yaml
id: aggregate_flow_store
namespace: io.kestra.tests

tasks:
  - id: fetch
    type: io.kestra.plugin.core.output.OutputValues
    values:
      records:
        - customer_id: "c1"
          total_spent: 10
        - customer_id: "c1"
          total_spent: 5

  - id: aggregate
    type: io.kestra.plugin.transform.Aggregate
    from: "{{ outputs.fetch.values.records }}"
    groupBy:
      - customer_id
    aggregates:
      total_spent:
        expr: sum(total_spent)
        type: DECIMAL
    output: STORE
