src/test/resources/flows/select_flow_store.yaml
id: select_flow_store
namespace: io.kestra.tests

tasks:
  - id: left
    type: io.kestra.plugin.core.output.OutputValues
    values:
      records:
        - a: 1
        - a: 2

  - id: right
    type: io.kestra.plugin.core.output.OutputValues
    values:
      records:
        - b: 10
        - b: 20

  - id: select
    type: io.kestra.plugin.transform.Select
    inputs:
      - "{{ outputs.left.values.records }}"
      - "{{ outputs.right.values.records }}"
    fields:
      a:
        expr: $1.a
        type: INT
      b:
        expr: $2.b
        type: INT
    output: STORE

  - id: read_back
    type: io.kestra.plugin.transform.Map
    from: "{{ outputs.select.uri }}"
    output: RECORDS
    fields:
      a:
        expr: a
        type: INT
      b:
        expr: b
        type: INT

