src/test/resources/flows/zip_flow.yaml
id: zip_flow
namespace: dev.tests

tasks:
  - id: left
    type: io.kestra.plugin.core.output.OutputValues
    values:
      records:
        - id: "a"
          value: 1
        - id: "b"
          value: 2

  - id: right
    type: io.kestra.plugin.core.output.OutputValues
    values:
      records:
        - status: "ok"
        - status: "fail"

  - id: zip
    type: io.kestra.plugin.transform.Zip
    inputs:
      - "{{ outputs.left.values.records }}"
      - "{{ outputs.right.values.records }}"
