examples/supplier_lookup_transform.yml
id: supplier_lookup_ex
namespace: at.conapi

inputs:
  - id: inventory_request
    type: JSON
    displayName: "Inventory request to be enriched with supplier data"
    defaults: |
      {
        "totalItems": 5,
        "page": 1,
        "limit": 100,
        "items": [
          {
            "id": "INV-1001",
            "productId": "P1001",
            "productName": "Industrial Precision Screwdriver Set",
            "sku": "TOOL-SCR-001",
            "warehouseId": "WH-MAIN",
            "warehouseLocation": "A12-B3",
            "quantityAvailable": 156,
            "quantityReserved": 24,
            "reorderLevel": 50,
            "unitCost": 45.99,
            "lastUpdated": "2025-04-01T08:30:00Z"
          },
          {
            "id": "INV-1002",
            "productId": "P1002",
            "productName": "Heavy Duty Power Drill - 18V",
            "sku": "TOOL-DRL-002",
            "warehouseId": "WH-MAIN",
            "warehouseLocation": "A14-C5",
            "quantityAvailable": 0,
            "quantityReserved": 1,
            "reorderLevel": 30,
            "unitCost": 129.99,
            "lastUpdated": "2025-04-01T08:35:00Z"
          },
          {
            "id": "INV-1003",
            "productId": "P1003",
            "productName": "Professional Measuring Tape - 5m",
            "sku": "TOOL-MEAS-003",
            "warehouseId": "WH-MAIN",
            "warehouseLocation": "B22-D1",
            "quantityAvailable": 230,
            "quantityReserved": 15,
            "reorderLevel": 75,
            "unitCost": 18.5,
            "lastUpdated": "2025-04-01T08:40:00Z"
          },
          {
            "id": "INV-1004",
            "productId": "P1004",
            "productName": "Industrial Safety Gloves - Size L",
            "sku": "SAFETY-GLV-004",
            "warehouseId": "WH-SUPPLIES",
            "warehouseLocation": "S05-A3",
            "quantityAvailable": 342,
            "quantityReserved": 56,
            "reorderLevel": 100,
            "unitCost": 12.75,
            "lastUpdated": "2025-04-01T09:10:00Z"
          },
          {
            "id": "INV-1005",
            "productId": "P1005",
            "productName": "Precision Digital Caliper",
            "sku": "TOOL-MEAS-005",
            "warehouseId": "WH-MAIN",
            "warehouseLocation": "B24-C2",
            "quantityAvailable": 65,
            "quantityReserved": 7,
            "reorderLevel": 25,
            "unitCost": 89.95,
            "lastUpdated": "2025-04-01T09:25:00Z"
          }
        ]
      }

tasks:
  # Explode inventory items into one record per item.
  - id: explode_items
    type: io.kestra.plugin.transform.Unnest
    from: "{{ inputs.inventory_request }}"
    path: items[]
    as: item
    options:
      keepOtherFields: false
    output: RECORDS

  # Run supplier lookups (mocked here) per item.
  - id: foreach
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.explode_items.records }}"
    concurrencyLimit: 1
    tasks:
      - id: parallel
        type: io.kestra.plugin.core.flow.Parallel
        concurrent: 10
        tasks:
          - id: supplier_1
            type: io.kestra.plugin.core.output.OutputValues
            values:
              currentStock: "{{ json(parent.taskrun.value).item.quantityAvailable }}"
          - id: supplier_2
            type: io.kestra.plugin.core.output.OutputValues
            values:
              currentStock: "{{ json(parent.taskrun.value).item.quantityReserved }}"
          - id: supplier_3
            type: io.kestra.plugin.core.output.OutputValues
            values:
              currentStock: "{{ json(parent.taskrun.value).item.reorderLevel }}"
      - id: return_enriched_object
        type: io.kestra.plugin.core.output.OutputValues
        values:
          item: "{{ json(taskrun.value).item }}"
          supplierAvailable: >
            {{
              outputs.supplier_1[taskrun.value].values.currentStock +
              outputs.supplier_2[taskrun.value].values.currentStock +
              outputs.supplier_3[taskrun.value].values.currentStock
            }}

  # Flatten OutputValues into typed records.
  - id: build_enriched_records
    type: io.kestra.plugin.transform.Map
    from: "{{ outputs.return_enriched_object }}"
    output: RECORDS
    fields:
      id: values.item.id
      productId: values.item.productId
      productName: values.item.productName
      sku: values.item.sku
      warehouseId: values.item.warehouseId
      warehouseLocation: values.item.warehouseLocation
      quantityAvailable:
        expr: values.item.quantityAvailable
        type: INT
      quantityReserved:
        expr: values.item.quantityReserved
        type: INT
      reorderLevel:
        expr: values.item.reorderLevel
        type: INT
      unitCost:
        expr: values.item.unitCost
        type: DECIMAL
      lastUpdated:
        expr: values.item.lastUpdated
        type: TIMESTAMP
      supplierAvailable:
        expr: values.supplierAvailable
        type: INT

  # Build the final response payload.
  - id: build_final_payload
    type: io.kestra.plugin.transform.Map
    from: |
      {{
        {
          "original": inputs.inventory_request,
          "enrichedItems": outputs.build_enriched_records.records
        }
      }}
    output: RECORDS
    fields:
      totalItems:
        expr: original.totalItems
        type: INT
      page:
        expr: original.page
        type: INT
      limit:
        expr: original.limit
        type: INT
      items:
        expr: enrichedItems[]
        type: LIST

outputs:
  - id: inventory_request_enriched
    type: JSON
    displayName: "Inventory request enriched with supplier data"
    value: "{{ outputs.build_final_payload.records | first }}"
